<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>ワリカンをもっとラクに！</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <h1>ワリカンをもっとラクに！</h1>
      <form v-on:submit.prevent>
        名前<input /> 内容<input v-model="newContent" />
        <button v-on:click="addContent">送信</button>
        金額<input type="number" v-model.number="newMoney" />
        <button v-on:click="addMoney">送信</button>
      </form>
      <ul>
        <div class="content">
          <li v-for="content in content2">
            <span>{{ content.item | localNum }}</span>
          </li>
        </div>
        <div class="money">
          <li v-for="money in money2">
            <span>{{ money.item2 | localNum }}</span>
          </li>
        </div>
        <input v-model="sum" type="number" />
      </ul>
      <!--<div>
        <button v-on:click="sumMoney">合計</button>
        <input v-model="sum" />
      </div>-->
    </div>

    <p id="home"></p>

    <!--
    <div id="app2" v-cloak>
      <form v-on:submit.prevent>
        名前<input /> 内容<input v-model="newContent2" />
        <button v-on:click="addContent2">送信</button>
        金額<input v-model="newMoney2" />
        <button v-on:click="addMoney2">送信</button>
      </form>
      <ul>
        <div class="content2">
          <li v-for="content2 in content3">
            <span>{{ content2.item }}</span>
          </li>
        </div>
        <div class="money2">
          <li v-for="money2 in money3">
            <span>{{ money2.item3 | localNum }}</span>
          </li>
        </div>
      </ul>
      <div>
        <button v-on:click="sumMoney">合計</button>
        <input v-model="sum" />
      </div>
    </div>
-->
    <footer>
      &copy;2019yutasb
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
