<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>ワリカンをもっとラクに！</title>
  </head>
  <body>
    <div id="app" v-cloak class='container'>
      <h1 class='title'>ワリカンをもっとラクに！</h1>
      <!-- 1人目 -->
      <div class='body'>
      <form v-on:submit.prevent>
       <span class='transparent'> 名前</span><input  v-focus v-model='name' type='text' />
        <span class='transparent'>内容</span><input v-model="newContent" type='text' />
        <button v-on:click="addContent">送信</button>
        <span class='transparent'>金額</span><input type="number" v-model.number="newMoney" class='money1'/>
        <button v-on:click="addMoney">送信</button>
   　　　合計<input v-model.number="sum" type="number" class='sum'/>
              
      </form>
      <ul>
        <div class="content">
          <li v-for="content in content2">
            <span>{{ content.item }}</span>
          </li>
        </div>
        <div class="money">
          <li v-for="(money,index) in money2">
            <span>{{ money.item2 | localNum }}</span>
            <button v-on:click='deleteItem(index)'>Delete</button>
          </li>
        </div>
       
      </ul>
   <!-- 2人目 -->
   <div class='app2'>
        <span class='transparent'>名前</span><input v-model='name2' type='text'/> <span class='transparent'>内容</span><input v-model="newContent2" type='text' />
        <button v-on:click="addContent2">送信</button>
        <span class='transparent'>金額</span><input v-model.number="newMoney2" type="number" />
        <button v-on:click="addMoney2">送信</button>
        合計<input v-model.number="sum2" type="number"  class='sum2'/>
      </form>
      <ul>
        <div class="content2">
          <li v-for="content2 in content3">
            <span>{{ content2.item2 }}</span>
          </li>
        </div>
        <div class="money2">
          <li v-for="money2 in money3">
            <span>{{ money2.item3 | localNum }}</span>
          </li>
        </div>
        
      </ul>
    </div>
      <!-- 合計 -->
      <div class='total'>
      <button v-on:click="totalMoney">2人合計</button>
      <input v-model.number="total" type="number"  />
    </div>
    <!-- 精算 -->
    <div class='result'>
        <button v-on:click='result'>精算</button>
        <input v-model='result2' type='text' class='totalinput'>
    </div>


    </div>
</div>
    <footer>
      &copy;2019yutasb
    </footer>
</body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  
</html>